.rose-petal {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../assets/rose_petal.png");
  background-size: cover;
  z-index: 0; /* Set z-index to position petals behind other content */
  animation: falling-petal 10s linear infinite;
}

@keyframes falling-petal {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(110vh);
    opacity: 1;
  }
}
