.navbar-container {
  background-color: transparent;
  color: black;
  overflow: hidden;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
}

.news-ticker {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
