.heart-image {
  position: absolute;
  width: 22px;
  height: 15px;
  background-image: url("../assets/heart.png");
  background-size: cover;
  z-index: 0; /* Set z-index to position petals behind other content */
  animation: falling-image 10s linear infinite;
}

@keyframes falling-image {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(110vh);
    opacity: 1;
  }
}
